In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('../datasets/04 share-electricity-renewables.csv')

In [ ]:
df.head(100)

            Entity Code  Year  Renewables (% electricity)
0      Afghanistan  AFG  2000                   65.957440
1      Afghanistan  AFG  2001                   84.745766
2      Afghanistan  AFG  2002                   81.159424
3      Afghanistan  AFG  2003                   67.021280
4      Afghanistan  AFG  2004                   62.921350
5      Afghanistan  AFG  2005                   63.440857
6      Afghanistan  AFG  2006                   76.190475
7      Afghanistan  AFG  2007                   78.947370
8      Afghanistan  AFG  2008                   73.972600
9      Afghanistan  AFG  2009                   82.978720
10     Afghanistan  AFG  2010                   79.787230
11     Afghanistan  AFG  2011                   76.923090
12     Afghanistan  AFG  2012                   84.090910
13     Afghanistan  AFG  2013                   80.180176
14     Afghanistan  AFG  2014                   86.206900
15     Afghanistan  AFG  2015                   87.288140
16     Afghanistan  AFG  2016                   87.603294
17     Afghanistan  AFG  2017                   85.826775
18     Afghanistan  AFG  2018                   82.905980
19     Afghanistan  AFG  2019                   83.177570
20     Afghanistan  AFG  2020                   85.000000
21     Afghanistan  AFG  2021                   84.337350
22          Africa  NaN  1985                   19.197454
23          Africa  NaN  1986                   19.179012
24          Africa  NaN  1987                   17.738724
25          Africa  NaN  1988                   18.361074
26          Africa  NaN  1989                   18.553274
27          Africa  NaN  1990                   18.207285
28          Africa  NaN  1991                   18.917315
29          Africa  NaN  1992                   17.901201
30          Africa  NaN  1993                   16.991570
31          Africa  NaN  1994                   16.630821
32          Africa  NaN  1995                   16.758926
33          Africa  NaN  1996                   16.634296
34          Africa  NaN  1997                   16.272135
35          Africa  NaN  1998                   16.819448
36          Africa  NaN  1999                   17.294086
37          Africa  NaN  2000                   18.374432
38          Africa  NaN  2001                   19.263138
39          Africa  NaN  2002                   18.668484
40          Africa  NaN  2003                   17.521225
41          Africa  NaN  2004                   17.567488
42          Africa  NaN  2005                   17.419956
43          Africa  NaN  2006                   17.282114
44          Africa  NaN  2007                   16.925820
45          Africa  NaN  2008                   17.006596
46          Africa  NaN  2009                   17.576530
47          Africa  NaN  2010                   17.634817
48          Africa  NaN  2011                   17.671211
49          Africa  NaN  2012                   17.093758
50          Africa  NaN  2013                   17.647554
51          Africa  NaN  2014                   18.590454
52          Africa  NaN  2015                   18.623781
53          Africa  NaN  2016                   18.739191
54          Africa  NaN  2017                   19.122046
55          Africa  NaN  2018                   20.473812
56          Africa  NaN  2019                   21.454725
57          Africa  NaN  2020                   22.731155
58          Africa  NaN  2021                   22.963007
59     Africa (BP)  NaN  1985                   19.197454
60     Africa (BP)  NaN  1986                   19.179014
61     Africa (BP)  NaN  1987                   17.738724
62     Africa (BP)  NaN  1988                   18.361078
63     Africa (BP)  NaN  1989                   18.553274
64     Africa (BP)  NaN  1990                   18.207285
65     Africa (BP)  NaN  1991                   18.917315
66     Africa (BP)  NaN  1992                   17.901201
67     Africa (BP)  NaN  1993                   16.991568
68     Africa (BP)  NaN  1994                   16.630821
69     Africa (BP)  NaN  1995                   16.758926
70     Africa (BP)  NaN  1996                   16.634296
71     Africa (BP)  NaN  1997                   16.272135
72     Africa (BP)  NaN  1998                   16.819447
73     Africa (BP)  NaN  1999                   17.294086
74     Africa (BP)  NaN  2000                   17.654526
75     Africa (BP)  NaN  2001                   18.216648
76     Africa (BP)  NaN  2002                   18.001900
77     Africa (BP)  NaN  2003                   16.845776
78     Africa (BP)  NaN  2004                   16.825418
79     Africa (BP)  NaN  2005                   16.532818
80     Africa (BP)  NaN  2006                   16.498604
81     Africa (BP)  NaN  2007                   16.277170
82     Africa (BP)  NaN  2008                   16.296865
83     Africa (BP)  NaN  2009                   16.633480
84     Africa (BP)  NaN  2010                   16.941187
85     Africa (BP)  NaN  2011                   17.035778
86     Africa (BP)  NaN  2012                   16.439018
87     Africa (BP)  NaN  2013                   16.964638
88     Africa (BP)  NaN  2014                   17.726316
89     Africa (BP)  NaN  2015                   17.680172
90     Africa (BP)  NaN  2016                   17.649680
91     Africa (BP)  NaN  2017                   18.653673
92     Africa (BP)  NaN  2018                   19.723248
93     Africa (BP)  NaN  2019                   20.735146
94     Africa (BP)  NaN  2020                   22.430740
95     Africa (BP)  NaN  2021                   22.549220
96  Africa (Ember)  NaN  2000                   18.374432
97  Africa (Ember)  NaN  2001                   19.263138
98  Africa (Ember)  NaN  2002                   18.668484
99  Africa (Ember)  NaN  2003                   17.521227

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6871 entries, 0 to 6870
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Entity                      6871 non-null   object
 1   Code                        5781 non-null   object
 2   Year                        6871 non-null   int64
 3   Renewables (% electricity)  6871 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 214.8+ KB

In [ ]:
df.isnull().any()

Entity                        False
Code                           True
Year                          False
Renewables (% electricity)    False
dtype: bool

In [ ]:
df['Year'] = df['Year'].astype(int)

df_filtered = df[(df['Year'] >= 1985) & (df['Year'] <= 2021)]

df_filtered = df_filtered[df_filtered['Entity'] != 'World']

df_filtered = df_filtered[df_filtered['Code'].notna() & (df_filtered['Code'].str.len() == 3)]

country_year_counts = df_filtered.groupby('Entity')['Year'].nunique()

complete_countries = country_year_counts[country_year_counts == 37].index.tolist()

df_clean = df_filtered[df_filtered['Entity'].isin(complete_countries)]

df_clean = df_clean.sort_values(['Entity', 'Year'])

df_clean.to_csv('clean_countries_renewables_1985_2021.csv', index=False)

print(f"Original dataset size: {len(df)} rows")
print(f"Cleaned dataset size: {len(df_clean)} rows")
print(f"Number of countries with complete data: {len(complete_countries)}")
print("Countries with complete data:")
for country in sorted(complete_countries):
    print(f"- {country}")

Original dataset size: 6871 rows
Cleaned dataset size: 2442 rows
Number of countries with complete data: 66
Countries with complete data:
- Algeria
- Argentina
- Australia
- Austria
- Bangladesh
- Belgium
- Brazil
- Bulgaria
- Canada
- Chile
- China
- Colombia
- Cyprus
- Czechia
- Denmark
- Ecuador
- Egypt
- Finland
- France
- Germany
- Greece
- Hong Kong
- Hungary
- Iceland
- India
- Indonesia
- Iran
- Iraq
- Ireland
- Israel
- Italy
- Japan
- Kuwait
- Luxembourg
- Malaysia
- Mexico
- Morocco
- Netherlands
- New Zealand
- Norway
- Oman
- Pakistan
- Peru
- Philippines
- Poland
- Portugal
- Qatar
- Romania
- Saudi Arabia
- Singapore
- Slovakia
- South Africa
- South Korea
- Spain
- Sri Lanka
- Sweden
- Switzerland
- Taiwan
- Thailand
- Trinidad and Tobago
- Turkey
- United Arab Emirates
- United Kingdom
- United States
- Venezuela
- Vietnam

In [ ]:
# Count how many years each entity has data for
entity_year_counts = df_filtered.groupby('Entity')['Year'].nunique()

# Find entities that have data for all 37 years (1985-2021)
complete_entities = entity_year_counts[entity_year_counts == 37].index.tolist()

# Print the number of entities with complete data
print(f"Number of entities with complete data: {len(complete_entities)}")

Number of entities with complete data: 66

In [ ]:
df['Year'] = df['Year'].astype(int)

df_filtered = df[(df['Year'] >= 1985) & (df['Year'] <= 2021)]

df_filtered = df_filtered[df_filtered['Entity'] != 'World']

entity_year_counts = df_filtered.groupby('Entity')['Year'].nunique()

complete_entities = entity_year_counts[entity_year_counts == 37].index.tolist()

df_clean = df_filtered[df_filtered['Entity'].isin(complete_entities)]

df_clean = df_clean.sort_values(['Entity', 'Year'])

df_clean.to_csv('clean_renewables_1985_2021.csv', index=False)

print(f"Original dataset size: {len(df)} rows")
print(f"Cleaned dataset size: {len(df_clean)} rows")
print(f"Number of entities with complete data: {len(complete_entities)}")
print("Entities with complete data:")
for entity in sorted(complete_entities):
    print(f"- {entity}")

Original dataset size: 6871 rows
Cleaned dataset size: 3256 rows
Number of entities with complete data: 88
Entities with complete data:
- Africa
- Africa (BP)
- Algeria
- Argentina
- Asia
- Asia Pacific (BP)
- Australia
- Austria
- Bangladesh
- Belgium
- Brazil
- Bulgaria
- Canada
- Central America (BP)
- Chile
- China
- Colombia
- Cyprus
- Czechia
- Denmark
- Eastern Africa (BP)
- Ecuador
- Egypt
- Europe
- Europe (BP)
- European Union (27)
- Finland
- France
- Germany
- Greece
- High-income countries
- Hong Kong
- Hungary
- Iceland
- India
- Indonesia
- Iran
- Iraq
- Ireland
- Israel
- Italy
- Japan
- Kuwait
- Lower-middle-income countries
- Luxembourg
- Malaysia
- Mexico
- Middle Africa (BP)
- Middle East (BP)
- Morocco
- Netherlands
- New Zealand
- Non-OECD (BP)
- North America
- North America (BP)
- Norway
- OECD (BP)
- Oceania
- Oman
- Pakistan
- Peru
- Philippines
- Poland
- Portugal
- Qatar
- Romania
- Saudi Arabia
- Singapore
- Slovakia
- South Africa
- South America
- South Korea
- South and Central America (BP)
- Spain
- Sri Lanka
- Sweden
- Switzerland
- Taiwan
- Thailand
- Trinidad and Tobago
- Turkey
- United Arab Emirates
- United Kingdom
- United States
- Upper-middle-income countries
- Venezuela
- Vietnam
- Western Africa (BP)